<meta charset="UTF-8">
<title>e医链</title>
<link rel="icon" href="">
<meta name="keywords" content="互联网，智能采购，供应链">
<meta name="description" content="一体化采招平台 便捷看得见">
<meta name=”viewport” content="width=device-width, initial-scale=1"/>
<meta name="applicable-device" content="pc,mobile">
<meta http-equiv="Cache-Control" content="no-transform ">
<link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/reset.css">
<link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/comm.css">
<link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/font-awesome.min.css">