    <div class="footer">
        <div class="footer_content">
            <div class="contactUs">
                <ul class="ul_line">
                    <li>联系我们</li>
                    <li><img src="/static/medicalChain/static/imgs/qq.png" /></li>
                    <li><img src="/static/medicalChain/static/imgs/WeChat.png" /></li>
                    <li><img src="/static/medicalChain/static/imgs/phone.png"/></li>
                </ul>
            </div>
        </div>
        <div class="footer_info rowFlex">
            <div class="info_logo"><img src="/static/medicalChain/static/imgs/logo_grey.png"></div>
            <div class="info_item">
                <p class="info_title">行业新闻</p>
                <p class="info_text"><a href="">公告</a></p>
                <p class="info_text"><a href="">采购动态</a></p>
                <p class="info_text"><a href="">最新技术</a></p>
                <p class="info_text"><a href="">市场资讯</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">采招平台</p>
                <p class="info_text"><a href="">采购信息</a></p>
                <p class="info_text"><a href="">招标信息</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">金融服务</p>
                <p class="info_text"><a href="">投标类</a></p>
                <p class="info_text"><a href="">履约类</a></p>
                <p class="info_text"><a href="">中标贷</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">新手入门</p>
                <p class="info_text"><a href="">平台操作流程</a></p>
                <p class="info_text"><a href="">投标人指南</a></p>
                <p class="info_text"><a href="">CA办理流程</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">常见问题</p>
                <p class="info_text"><a href="">注册登录问题</a></p>
                <p class="info_text"><a href="">报名支付问题</a></p>
                <p class="info_text"><a href="">CA办理常见问题</a></p>
                <p class="info_text"><a href="">投标操作流程</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">关于我们</p>
                <p class="info_text"><a href="">关于我们</a></p>
                <p class="info_text"><a href="">市场合作</a></p>
                <p class="info_text"><a href="">广告招商</a></p>
                <p class="info_text"><a href="">法律申明</a></p>
            </div>
        </div>
        <div class="footer_beiAn">
            Copyright2013-2018 浙江医易购有限公司 | 浙ICP备13028265号 | 互联网药品信息服务资格证书(浙）-经营性-2015-002
        </div>
    </div>