{{template "headerjs.html" .}}
{{template "navbar.html" .}}
{{template "slider.html" .}}
<style>


    * {
        box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box;
    }

    #preview {
        background-color: white;
        padding: 3.5em;
        margin: 0;
    }
</style>
<div class="yy-news">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div id="preview">
                        {{ $page := loadArticles .path .pageSize .pageNo }}
                        {{range $k,$v := $page.Rows}}
                            {{ if eq $k 0 }}
                                {{ $article := printf "%d" $v.Id  | loadArticle }}

                                     {{$article.Content | html}}

                            {{end}}
                        {{end}}
                </div>
            </div>
        </div>
    </div>
    &nbsp;
</div>
{{template "bottom.html" .}}
{{template "footerjs.html" .}}