{{template "headerjs.html" .}}
{{template "navbar.html" .}}
{{template "slider.html" .}}
<style>
    #li {list-style-type:none;}
    .dongtai-title {
        border-bottom: solid 1px #0a6aa1;
        font-size: 20px;
        margin: 20px;
        padding: 10px;
    }

    .dongtai-mode {
        margin: 10px;
        padding: 10px;
    }

    .hosp{
        background-color: white;
        padding: 5px;
        border-radius:6px;
        box-sizing: border-box;
        border: solid 1px #0882a1;
    }

    .hosp-title{
        font-size: 16px;
    }
</style>
<section class="yy-news">
    <div class="container-fluid">&nbsp;
            &nbsp;
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row dongtai-title">
                医院动态
            </div>
            <div class="row dongtai-mode">

                <div class="col-md-6 hosp">
                    <span class="hosp-title"><img height="80px" src="http://42.202.144.67:4489/Resource/images/biz/index/qingdaobeihai.png"></span>
                    <div style="position:static">
                        <div class="col-md-4" style="display:inline">采购：5</div>
                        <div class="col-md-4" style="display:inline">询价：5</div>
                        <div class="col-md-4" style="display:inline">剩余物资：5</div>
                    </div>
                </div>
                <div class="col-md-6 hosp">
                    <span class="hosp-title"><img height="80px" src="http://42.202.144.67:4489/Resource/images/biz/index/qingdaobeihai.png"></span>
                    <div style="position:static">
                        <div class="col-md-4" style="display:inline">采购：5</div>
                        <div class="col-md-4" style="display:inline">询价：5</div>
                        <div class="col-md-4" style="display:inline">剩余物资：5</div>
                    </div>
                </div>
            </div>

            <div class="row dongtai-mode">
                <div class="col-md-6 hosp">
                    <span class="hosp-title"><img height="80px" src="http://42.202.144.67:4489/Resource/images/biz/index/qingdaobeihai.png"></span>
                    <div style="position:static">
                        <div class="col-md-4" style="display:inline">采购：5</div>
                        <div class="col-md-4" style="display:inline">询价：5</div>
                        <div class="col-md-4" style="display:inline">剩余物资：5</div>
                    </div>
                </div>
                <div class="col-md-6 hosp">
                    <span class="hosp-title"><img height="80px" src="http://42.202.144.67:4489/Resource/images/biz/index/qingdaobeihai.png"></span>
                    <div style="position:static">
                        <div class="col-md-4" style="display:inline">采购：5</div>
                        <div class="col-md-4" style="display:inline">询价：5</div>
                        <div class="col-md-4" style="display:inline">剩余物资：5</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="row dongtai-title">
                品质供应商
            </div>
            <div class="row dongtai-mode">

                <div class="col-md-6">1</div>
                <div class="col-md-6">2</div>
            </div>



            <div class="row dongtai-mode">
                <div class="col-md-6">1</div>
                <div class="col-md-6">2</div>
            </div>

        </div>

    </div>
</section>
{{template "bottom.html" .}}
{{template "footerjs.html" .}}