{{template "headerjs.html" .}}
{{template "navbar.html" .}}
{{template "slider.html" .}}
<style>
    #li {list-style-type:none;}
    .container{

    }
</style>
<section class="yy-news">
    <div class="container-fluid">&nbsp;

    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">1</div>
                <div class="col-md-6">2</div>
            </div>

            <div class="row">
                <div class="col-md-6">1</div>
                <div class="col-md-6">2</div>
            </div>

        </div>

    </div>
</section>
{{template "bottom.html" .}}
{{template "footerjs.html" .}}