<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e医链</title>
    <link rel="icon" href="">
    <meta name="keywords" content="互联网，智能采购，供应链">
    <meta name="description" content="一体化采招平台 便捷看得见">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/comm.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
</head>
<body>
<div class="mainPage">
    <!--头部导航部分-->
    <div class="header rowFlex">
        <div class="logo">
            <img src="../static/imgs/logo.png">
        </div>
        <div class="nav">
            <ul class="ul_line">
                <li id="nav_active"><a href="home.html">首页</a></li>
                <li><a href="industryNews.html">行业新闻</a></li>
                <li><a href="recruitment.html">采招平台</a></li>
                <li><a href="financial.htmll">金融服务</a></li>
                <li><a href="aboutUs.html">关于我们</a></li>
            </ul>
        </div>
        <div class="header_right">
            <ul class="ul_line">
                <li><a href="login.html">登录</a></li>
                <li><a href="register.html">注册</a></li>
            </ul>
        </div>
    </div>
    <!--login-->
    <div class="loginBg">
        <div class="loginModule">
            <form action="" method="" class="loginForm">
                <div class="loginTop rowFlex">
                     <label  class="loginTopItem topChecked">供应商登录<input type="radio" checked="checked" name="loginName" value="0"  id="gys"/></label>
                     <label  class="loginTopItem">医院登录<input type="radio" value="1" name="loginName" id="yiyuan"/></label>
                </div>
                <div class="inputModule">
                    <label for="userName" class="textLabel">用户名</label><input class="inputText" type="text"  id="userName" placeholder="请输入您的用户名"/>
                </div>
                <div class="inputModule">
                    <label for="password" class="textLabel">密&nbsp;&nbsp;&nbsp;码</label><input class="inputText" type="password" id="password" placeholder="请输入您的用户名"/>
                </div>
                <div class="inputModule">
                   <label for="identifyingCode" class="textLabel">验证码</label><input class="inputCode"  type="text" id="identifyingCode" placeholder="请输入您的验证码"/>
                    <span class="code"></span><span class="shuanxin">刷新</span>
                </div>
                <div class="btnModule"> <input class="loginBtn" type="button" value="登录">登录</div>
            </form>
            <div class="login_footer">
                <div class="inputModule">
                    <label class="formLeft"><a class="loginHerftext" href="">忘记密码</a></label>
                    <div class="formRight"><span>还没有我们的账号?&nbsp;&nbsp;&nbsp;</span><a class="loginHerftext" href="register.html">立即注册</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--底部footer-->
    <div class="footer">
        <div class="footer_content">
            <div class="contactUs">
                <ul class="ul_line">
                    <li>联系我们</li>
                    <li><img src="../static/imgs/qq.png" /></li>
                    <li><img src="../static/imgs/WeChat.png" /></li>
                    <li><img src="../static/imgs/phone.png"/></li>
                </ul>
            </div>
        </div>
        <div class="footer_info rowFlex">
            <div class="info_logo"><img src="../static/imgs/logo_grey.png"></div>
            <div class="info_item">
                <p class="info_title">行业新闻</p>
                <p class="info_text"><a href="">公告</a></p>
                <p class="info_text"><a href="">采购动态</a></p>
                <p class="info_text"><a href="">最新技术</a></p>
                <p class="info_text"><a href="">市场资讯</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">采招平台</p>
                <p class="info_text"><a href="">采购信息</a></p>
                <p class="info_text"><a href="">招标信息</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">金融服务</p>
                <p class="info_text"><a href="">投标类</a></p>
                <p class="info_text"><a href="">履约类</a></p>
                <p class="info_text"><a href="">中标贷</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">新手入门</p>
                <p class="info_text"><a href="">平台操作流程</a></p>
                <p class="info_text"><a href="">投标人指南</a></p>
                <p class="info_text"><a href="">CA办理流程</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">常见问题</p>
                <p class="info_text"><a href="">注册登录问题</a></p>
                <p class="info_text"><a href="">报名支付问题</a></p>
                <p class="info_text"><a href="">CA办理常见问题</a></p>
                <p class="info_text"><a href="">投标操作流程</a></p>
            </div>
            <div class="info_item">
                <p class="info_title">关于我们</p>
                <p class="info_text"><a href="">关于我们</a></p>
                <p class="info_text"><a href="">市场合作</a></p>
                <p class="info_text"><a href="">广告招商</a></p>
                <p class="info_text"><a href="">法律申明</a></p>
            </div>
        </div>
        <div class="footer_beiAn">
            Copyright2013-2018 浙江医易购有限公司 | 浙ICP备13028265号 | 互联网药品信息服务资格证书(浙）-经营性-2015-002
        </div>
    </div>
</div>
<script src="../static/js/jquery-2.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/comm.js"></script>
<script>
    $(".loginTopItem").on("click",function(){
        var itemRadio = $(this).children("input[type='radio']");
        if(!itemRadio.is(":checked")){
            $(this).siblings("label").removeClass("topChecked");
            $(this).addClass("topChecked");
        }
    });
</script>
</body>
</html>