<!DOCTYPE html>
<html lang="en">
<head>
{{template "new_head_common_js.html" .}}
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/aboutUs.css">
</head>
<body>
<div class="mainPage">
    <!--头部导航部分-->
    {{template "new_navbar2.html" .}}


    <div class="banner-img">
        <img src="/static/medicalChain/static/imgs/aboutUs1.png">
    </div>
    <!--企业简介-->
    <div class="companyInfo">
        <div class="infoTitle">企业介绍</div>
        <p class="info">
            南阳扬名网络科技有限公司（Nanyang Yangming Network Technology Co., Ltd.）创立于2015年，是中国的一家高科技公司，总部位于河南省南阳市。 　　
        </p>
        <p class="info">
            南阳扬名网络科技有限公司是一家以互联网平台运营、WEB应用开发、软件开发、大数据分析、移动互联网通讯技术、云计算、营销推广、技术培训等技术为核心的科技公司。公司骨干人员均来源于各大互联网公司以及各大高校。其中公司与多名211重点大学在职教授作为公司技术指导顾问。我公司主要以技术研发创新为主导，把握移动互联网行业的需求，利用互联网核心技术为客户提供稳定、可靠、功能优异的软硬一体解决方案。
        </p>
    </div>
    <!--<div class="companyInfo-img">
        <div class="flex-container">
            <div class="flex-item">
                <div class="null">123123123</div>
                <div class="flex-item-img"> <img src="../static/imgs/aboutus6.png"/></div>
               </div>
        </div>
        <div class="flex-container">
            <div class="flex-item"><img src="../static/imgs/aboutus3.png"/></div>
            <div class="flex-item"><img src="../static/imgs/aboutus2.png"/></div>
        </div>
        <div class="flex-container">
            <div class="flex-item"><img src="../static/imgs/aboutus5.png"/></div>
            <div class="flex-item"><img src="../static/imgs/aboutus4.png"/></div>
        </div>
        <div class="flex-container">
            <div class="flex-item"><img src="../static/imgs/aboutus2.png"/></div>
            <div class="flex-item"><img src="../static/imgs/aboutus2.png"/></div>
        </div>
    </div>-->
    <div class = "companyInfo-img">
        <div class="img-left">
            <div class="img-null"></div>
            <div class="img-l">
                <img src="/static/medicalChain/static/imgs/aboutus3.png"/>
            </div>
            <div class="img-l" style="background-image: url('/static/medicalChain/static/imgs/aboutus5.png')">
                <!--<img src="../static/imgs/aboutus5.png"/>-->
                <p>这是一些文字这是一些文字这是一些文字这是一些文字这是一些文字这是一些文字</p>
            </div>
            <div class="img-l">
                <img src="/static/medicalChain/static/imgs/aboutus2.png"/>
            </div>
        </div>
        <div class="img-right">
            <div class="img-l" style="background-image: url('/static/medicalChain/static/imgs/aboutus6.png');background-repeat:no-repeat;background-size: cover;">
                <p>这是一些文字这是一些文字这是一些文字这是一些文字这是一些文字这是一些文字</p>
            </div>
            <div class="img-l" style="height: 300px;">
                <img src="/static/medicalChain/static/imgs/aboutus2.png"/>
            </div>
            <div class="img-l">
                <img src="/static/medicalChain/static/imgs/aboutus4.png"/>
            </div>
            <div class="img-null" style="margin-bottom: 300px">
                <p>这是一些文字这是一些文字这是一些文字这是一些文字这是一些文字这是一些文字</p>
            </div>
        </div>
    </div>
    <!--底部footer-->
</div>

{{template "new_footer.html" .}}

<script src="/static/medicalChain/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/medicalChain/static/js/bootstrap.min.js"></script>
<script src="/static/medicalChain/static/js/comm.js"></script>
<script>

</script>
</body>
</html>