<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e医链</title>
    <link rel="icon" href="">
    <meta name="keywords" content="互联网，智能采购，供应链">
    <meta name="description" content="一体化采招平台 便捷看得见">
    <meta name=”viewport” content="width=device-width, initial-scale=1" />
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/comm.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/style.css" />
    <script type="text/javascript" src="/static/medicalChain/static/js/jquery.js"></script>

    <link rel="stylesheet" href="/static/medicalChain/static/css/focusStyle.css">
</head>

<body>
<div class="mainPage">
{{template "new_navbar2.html" .}}
{{template "new_slider.html" .}}

    <div class="platform">

        <div class="plat_title">
            高效管理，专业运营
        </div>
        <div class="plat_content rowFlex">
            <div class="plat_img"><img src="/static/medicalChain/static/imgs/platImg.png"></div>
            <div class="plat_text">
                <p>一体化采招平台 便捷看得见</p>
                <p>白发渔樵江渚上，惯看秋月春风。一壶浊酒喜相逢，古今多少事， 都付笑谈中。滚滚长江，汹涌东逝，不可拒，不可留。浪花飞溅，千古英雄在个中湮没不闻。对也罢，错也罢；成也好，败也好，功名，事业，一转眼的工夫就随着江水流逝，烟消云灭，不见踪影。只有青山仍旧矗立眼前，看着一次又一次的夕阳西下。</p>
            </div>
        </div>

    </div>
    <div class="character">
        <div class="char_content">
            <div class="char_title">平台特色</div>
            <div class="char_content rowFlex">
                <div class="char_item">
                    <img src="/static/medicalChain/static/imgs/ts01.png">
                    <p class="charItem_title">标准统一，流程固化</p>
                    <p class="charItem_text">操作透明，科技防腐，确保招标采购活动合法合规运行</p>
                </div>
                <div class="char_item">
                    <img src="/static/medicalChain/static/imgs/ts02.png">
                    <p class="charItem_title">过程受控，全程在案</p>
                    <p class="charItem_text">实现事前、事中、事后全程监控，重点环节实时监控</p>
                </div>
                <div class="char_item">
                    <img src="/static/medicalChain/static/imgs/ts03.png">
                    <p class="charItem_title">统计分析及数据挖掘</p>
                    <p class="charItem_text">大数据重构招标产业生态，通过统计分析及数据挖掘为决策提供支撑</p>
                </div>
                <div class="char_item">
                    <img src="/static/medicalChain/static/imgs/ts04.png">
                    <p class="charItem_title">安全稳定</p>
                    <p class="charItem_text">数千个开评项目，零故障，远程异地在线高效开标，投标安枕无忧</p>
                </div>
            </div>
        </div>
    </div>


{{template "new_footer.html" .}}

</div>
<script src="/static/medicalChain/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/medicalChain/static/js/comm.js"></script>
<!--<script src="../static/js/swiper.min.js"></script>-->
<!--<script>-->

<!--var swiper = new Swiper('.bannerSwiper', {-->
<!--pagination: {-->
<!--el: '.sbannerSwiper',-->
<!--dynamicBullets: true,-->
<!--},-->
<!--});-->

<!--var swiper = new Swiper('.platSwiper', {-->
<!--spaceBetween: 30,-->
<!--pagination: {-->
<!--el: '.platSwiper',-->
<!--clickable: true,-->
<!--},-->
<!--});-->

<!--</script>-->
</body>
</html>