<!DOCTYPE html>
<html lang="en">
<head>
{{template "new_head_common_js.html" .}}
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/financial.css">
</head>
<body>
<div class="mainPage">
    <!--头部导航部分-->
    {{template "new_navbar2.html" .}}
    <div class="banner-img">
        <!--<img src="../static/imgs/recruitment-1.png">-->
        <div class="banner-content">
            <p>这里是一句标语</p>
            <p class="banner-p">都在这里</p>
        </div>
    </div>
    <!--金融服务的内容-->
    <div class="financicalContent rowFlex">
        <div class="finNav">
            <div class="firNavItem">投标类</div>
            <div class="secNav">投标保证金<span>&gt;</span></div>
            <div class="secNav">投标保函<span>&gt;</span></div>
            <div class="firNavItem">履约类</div>
            <div class="secNav">履约保函<span>&gt;</span></div>
            <div class="firNavItem">中标类</div>
            <div class="secNav">中标贷<span>&gt;</span></div>
        </div>
        <div class="finRight">
            <div class="finTitleH1">一、产品介绍：</div>
            <div class="finTittleH2"> 1、提出资询通知书</div>
            <p class="finTxt">
                资询通知书主要是顾客向咨询机构提出任务的初步说明书， 规定咨询机构所应承担的各项具体工作。其内容包括：对委托咨询任务的准确简明；要求资询公司承担任务的范围和完成期限；需要咨询机构提交的有关文件；顾客为配合咨询机构工作提供的服务和支持等
            </p>
            <div class="finTittleH2">  2、顾客对咨询机构的选择</div>
            <p class="finTxt">
                如果采取招标的方式， 则顾客商过广告发布信息或由咨询专业协会的推荐选择参加招标的咨诲公司。咨诲公司应在投标书上写明是否有司类项目咨询、评估经验，主要的咨询项目以及经营业绩， 是否具有此类项目的专业^员和技求力量。着重阐逾预计工作进匿和工作程窜。如果客户需要。咨询公司还应提出初步咨询报告。顾客也可以根据自己掌握的情况选取名誉卓著的咨询机构， 由于咨询项目的特殊性和行业性， 客卢也可以直接选择特定的咨询机构和行业咨询机构。
            </p>
            <!--两个按钮-->
            <div class="finBtn rowFlex">
                <div class="btnModule">
                    <div class="leftBtn">
                        <img src="/static/medicalChain/static/imgs/contnt.png" >
                        <!--<span style="margin-left: 20px">联系我们</span>-->
                    </div>
                </div>
                <div class="btnModule">
                    <div class="rightBtn">
                        <img src="/static/medicalChain/static/imgs/application.png" >
                        <!--<span style="margin-left: 20px">一键申请</span>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--底部footer-->
{{template "new_footer.html" .}}
</div>
<script src="/static/medicalChain/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/medicalChain/static/js/bootstrap.min.js"></script>
<script src="/static/medicalChain/static/js/comm.js"></script>
<script>

</script>
</body>
</html>