<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e医链</title>
    <link rel="icon" href="">
    <meta name="keywords" content="互联网，智能采购，供应链">
    <meta name="description" content="一体化采招平台 便捷看得见">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″ />
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/comm.css">
    <link rel="stylesheet" type="text/css" href="../static/css/newDetail.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
</head>
<body>
<div class="mainPage">
    <!--头部导航部分-->
    <div class="header rowFlex">
        <div class="logo">
            <img src="../static/imgs/logo.png">
        </div>
        <div class="nav">
            <ul class="ul_line">
                <li><a href="new_home.html">首页</a></li>
                <li  id="nav_active"><a href="new_industryNews.html">行业新闻</a></li>
                <li><a href="new_recruitment.html">采招平台</a></li>
                <li><a href="new_financial.html">金融服务</a></li>
                <li><a href="new_aboutUs.html">关于我们</a></li>
            </ul>
        </div>
        <div class="header_right">
            <ul class="ul_line">
                <li><a href="new_login.html">登录</a></li>
                <li><a href="new_register.html">注册</a></li>
            </ul>
        </div>
    </div>
    <hr >
     <div class="newContent">
         <div class="newTop">
             <div class="newTitle title">医保异地结算打开一扇窗</div>
              <div class="newDate"><span>2018/5/4</span></div>
         </div>
         <div class="detail">
             <p>
                 医疗器械行业是一个多学科交叉、技术密集型的行业。多学科交叉体现在其涉及到高分子材料、生命科学、临床医学等多个学科；技术密集体现在其生产技术涉及医药、机械、 材料等多个技术的共同运用， 是典型的高新科技产业。 因其关系到人类生命健康，是医疗卫生体系建设的重要组成部分，具有高度的战略地位。医疗器械行业的发展程度已成为衡量一个国家科技水平和国民现代化水平的重要指标。该行业已成为现代临床医疗、疾病防控、公共卫生和健康保障体系中重要的组成部分之一，并形成了一个市场广阔、需求稳定的行业。</p>

                <p> 随着经济的发展、人口的增长、社会老龄化程度的提高，以及人们保健意识的不断增强，全球医疗器械市场需求持续快速增长，医疗器械行业是当今世界发展快的行业之一。据欧盟医疗器械委员会的统计数字，全球医疗器械市场销售总额已从 2004 年的2,468 亿美元迅速上升至 2014 年的 5,018 亿美元，年复合增长率达 7.35%，全球医疗器械市场增长率超过同期 GDP 增幅，前者约为后者的 2 倍。</p>

                 <p>从全球的市场格局看，欧美发达国家经过长期的发展，其医疗器械行业已步入成熟期，并已形成庞大的销售网络。</p>

             <p>美国是全球靠前大医疗器械市场，全球领先医疗器械企业在此聚集，加上领先的科技水平和资本的密集程度，均使该地区的市场领先地位不可撼动。欧盟是仅次于美国的全球第二大医疗器械市场。截至 2014 年末，欧盟 28 国人口达到了 5.08 亿以上，而且该地区经济基础好、医疗器械消费能力强，市场仍然保有内含驱动力。以中国为代表的亚太地区医疗器械市场目前是世界上具有潜力的医疗器械市场。据统计，2009 至 2012 年亚太地区医疗器械市场的年平均复合年增长率达 10.2%，高于全球平均水平，占全球医疗器械市场份额将显著提升。虽然目前而发展中国家主要从事医疗器械的加工和生产，利润率较低。但随着科技的进步和制造业的发展，以及庞大人口基数带来的广阔市场，未来的市场前景十分广阔。</p>
             </p>
         </div>
         <div class="repertory rowFlex">
             <p class="preNew">上一篇：医保、药价改革：将制药...</p>
             <p class="nextNew">下一篇：2017年全球医疗器械市场销售...</p>
         </div>
     </div>
    <!--底部footer-->
    {{template "new_footer.html" .}}
</div>
<script src="../static/js/jquery-2.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/comm.js"></script>
<script>
    jQuery(document).ready(function($) {
        $("#imgCarousel").carousel('cycle');
        $("#myCarousel").carousel('cycle');
    });
</script>
</body>
</html>