<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e医链</title>
    <link rel="icon" href="">
    <meta name="keywords" content="互联网，智能采购，供应链">
    <meta name="description" content="一体化采招平台 便捷看得见">
    <meta name=”viewport” content="width=device-width, initial-scale=1" />
    <meta name="applicable-device" content="pc,mobile">
    <meta http-equiv="Cache-Control" content="no-transform ">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/comm.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/medicalChain/static/css/style.css" />
    <script type="text/javascript" src="/static/medicalChain/static/js/jquery.js"></script>

    <link rel="stylesheet" href="/static/medicalChain/static/css/focusStyle.css">
    <style>
        .container,.container-fluid{margin-right:auto;margin-left:auto}
        .container{margin-top: 20px}
        .container,.container-fluid{padding-left:12px;padding-right:12px}
        @media (min-width:768px){.container{width:744px}}@media (min-width:992px){.container{width:964px}}@media (min-width:1200px){.container{width:1164px}}
    </style>
</head>

<body>
<div class="mainPage">
{{template "new_navbar2.html" .}}
{{template "new_slider.html" .}}

{{ $user := .sessionInfo}}
  <div class="container mycontainer">
      <div class="row">
        {{ $projectInfo := .projectDetail }}
        <h3>项目概况</h3>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="blockContent">
          <tbody>
              <tr>
                  <th>医院</th>
                  <td width="280px;">{{$projectInfo.CompanyName}}</td>
                  <th></th>
                  <td></td>
              </tr>
            <tr>
              <th>编号</th>
              <td width="280px;">{{$projectInfo.ProjectNo}}</td>
              <th>名称</th>
              <td>{{ $projectInfo.ProjectName }}</td>
            </tr>
            {{ if eq $projectInfo.ProjectType 1}}
            <tr>
              <th>开标时间</th>
              <td>{{$projectInfo.InviteOpenTenderTime}}</td>
              <th>招标截止日期</th>
              <td>{{$projectInfo.InviteSubmitTenderEndTime}}</td>
            </tr>
            {{ end }}
            <tr>
                <th>联系人</th>
                <td>{{$projectInfo.Contact}}</td>
                <th>联系电话</th>
                <td>{{$projectInfo.ContactPhone}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row" style="margin-top:20px">
        <h3>项目描述</h3>
          <div class="col-md-10 col-md-offset-1" style="margin-top: 20px">
            <p>
                {{$projectInfo.ProjectContent}}
            </p>
          </div>
      </div>
        <div class="row" style="margin-top:20px">
            <h3>操作</h3>
            <div class="col-md-10 col-md-offset-1" style="margin-top: 20px">
            {{if judgeVIP $user.CompanyId $projectInfo.CompanyId}}
            {{ if eq $projectInfo.ProjectType 1}}
                <a href="http://180.76.102.131/nmgxdzzb/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">参与招标</a>
            {{ else}}
                <a href="http://180.76.114.73/Api/eygou/PurchaseProject.ashx?Id={{$projectInfo.ImpId}}&accessToken={{$user.AccessToken}}">参与采购</a>
            {{end}}
            {{else}}
                <a href="/applysupply">申请成为供应商</a>
            {{end}}
            </div>
        </div>


  </div>     &nbsp;


{{template "new_footer.html" .}}

</div>
<script src="/static/medicalChain/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/medicalChain/static/js/comm.js"></script>
<!--<script src="../static/js/swiper.min.js"></script>-->
<!--<script>-->

<!--var swiper = new Swiper('.bannerSwiper', {-->
<!--pagination: {-->
<!--el: '.sbannerSwiper',-->
<!--dynamicBullets: true,-->
<!--},-->
<!--});-->

<!--var swiper = new Swiper('.platSwiper', {-->
<!--spaceBetween: 30,-->
<!--pagination: {-->
<!--el: '.platSwiper',-->
<!--clickable: true,-->
<!--},-->
<!--});-->

<!--</script>-->
</body>
</html>