{{template "headerjs.html" .}}
{{template "navbar.html" .}}
{{template "slider.html" .}}

<style>
.lists_left {margin-top: 17px;border: 1px solid #E2E5EC;padding: 15px 0;}
.col-md-8 { margin-bottom: 20px}
.col-md-4 { margin-bottom: 20px}
.list_ul{width:720px;margin:0 auto;}
.list_ul li{color:#343537;width:710px;overflow:hidden;color: rgb(84, 84, 85); line-height: 2.5;}
.list_ul li span{font-size:12px;margin-left:14px;padding:0 10px;float:left;}
.list_ul li b{font-size:12px;float:right; color: rgb(84, 84, 85);}
.list_ul li a{font-size:14px;color:#343537;float:left;width:460px;padding-left:24px;}
.list_ul li a:hover{color:#81008F;}
.list_ul li a:visited{color:#81008F;}
</style>
<div class="container">
    <div class="col-md-8">
        <div class="lists_left">
            <ul class="list_ul">
                {{ $allPorjectPage := loadAllProject .pageSize .pageNo }}
                {{  range $k,$v := $allPorjectPage.Rows }}
                <li><span>[{{$v.CompanyName}}]</span><a href="" target="_blank" title="{{$v.ProjectName}}">{{$v.ProjectName}}</a>
                    <span>[Vip项目]</span>
                    <b>{{$v.CreateTime}}</b></li>
                {{end}}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
            {{template "excellentcompany.html" .}}
    </div>
</div>
{{template "bottom.html" .}}
{{template "footerjs.html" .}}