{{template "headerjs.html" .}}
{{template "navbar.html" .}}
{{template "slider.html" .}}
<style>

    .dongtai-title {
        border-bottom: solid 1px #0a6aa1;
        font-size: 20px;
        margin: 20px;
        padding: 10px;
    }

    .mycontainer{
        background-color: white;
        margin: 20px auto;
    }

    .project li a {
        display: block;
        border-bottom: 1px #eee dashed;
        overflow: hidden;
        color: #666;
    }

    .project{
        background-color: #ffffff;

    }

    .project li a {
        display: block;
        border-bottom: 1px #eee dashed;
        overflow: hidden;
        color: #666;
    }

    .project li .title {
        float: left;
        display: table;
        line-height: 50px;
        vertical-align: middle;
        margin-left: 10px;
        width: 500px;
        font-size: 15px;
    }

    .project li .typ {
        float: left;
        display: table-cell;
        margin-left: 10px;
        width: 100px;
        text-align: center;
        color: #b3b3b3;
        font-size: 12px;
        line-height: 20px;
    }

    .project li .data {
        float: left;
        display: table-cell;
        margin-left: 10px;
        width: 100px;
        text-align: center;
        color: #b3b3b3;
        font-size: 12px;
        line-height: 20px;
    }

    .project li .button {
        margin-top: 8px;
        display: table-cell;
        color: #0955c6;
        float: right;
        border: 0px #93bcf4 solid;
        border-radius: 3px;
        padding: 3px 8px;
        display: block;
    }

    .hosp-title{
        font-size: 16px;
    }
</style>
<section class="yy-news">
    <div class="container mycontainer">

        <div class="col-md-12">
            <div class="row dongtai-title">
                项目动态
            </div>

            <div class="row dongtai-mode">
                <div class="col-md-12 ">
                    <ul class="project">
                    <li>
                        <a href="" title="">
                            <div class="title">
                                <div class="title">【XXXX项目】招标公告...</div>
                            </div>
                            <div class="typ">招标方式<br><span>公开招标</span></div>
                            <div class="data">报名截止时间<br>
                                <span>
				                       2017-09-12
							 </span>
                            </div>
                            <div class="button">查看详情</div>
                        </a>
                    </li>

                        <li>
                            <a href="" title="">
                                <div class="title">
                                    <div class="title">【XXXX项目】招标公告...</div>
                                </div>
                                <div class="typ">招标方式<br><span>公开招标</span></div>
                                <div class="data">报名截止时间<br>
                                    <span>
				                       2017-09-12
							 </span>
                                </div>
                                <div class="button">查看详情</div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="">
                                <div class="title">
                                    <div class="title">【XXXX项目】招标公告...</div>
                                </div>
                                <div class="typ">招标方式<br><span>公开招标</span></div>
                                <div class="data">报名截止时间<br>
                                    <span>
				                       2017-09-12
							 </span>
                                </div>
                                <div class="button">查看详情</div>
                            </a>
                        </li>

                        <li>
                            <a href="" title="">
                                <div class="title">
                                    <div class="title">【XXXX项目】招标公告...</div>
                                </div>
                                <div class="typ">招标方式<br><span>公开招标</span></div>
                                <div class="data">报名截止时间<br>
                                    <span>
				                       2017-09-12
							 </span>
                                </div>
                                <div class="button">查看详情</div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>





    </div>

    &nbsp;
</section>
{{template "bottom.html" .}}
{{template "footerjs.html" .}}