{{template "headerjs.html" .}}
{{template "navbar.html" .}}
{{template "slider.html" .}}

<ul class="ul_list">
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543968.html" target="_blank" title="栖霞区前新塘保障房项目">栖霞区前新塘保障房项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543884.html" target="_blank" title="(盐城市)千鹤湖国际度假酒店(原名:木槿国际度假酒店)(五星级酒店)">(盐城市)千鹤湖国际度假酒店(原名:木槿国际度假酒店)(五星级酒店)</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543707.html" target="_blank" title="新建厂房项目">新建厂房项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543617.html" target="_blank" title="新建年产2000万只塑料宠物玩具生产项目">新建年产2000万只塑料宠物玩具生产项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543540.html" target="_blank" title="电机生产,销售项目">电机生产,销售项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543494.html" target="_blank" title="海门市包场小学改扩建项目（更新1）">海门市包场小学改扩建项目（更新1）</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543387.html" target="_blank" title="年产1000万支滴眼液项目">年产1000万支滴眼液项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543278.html" target="_blank" title="南京市NO.2015G32号地块项目(未定名)">南京市NO.2015G32号地块项目(未定名)</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543213.html" target="_blank" title="新型墙体材料及生活用纸生产项目">新型墙体材料及生活用纸生产项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543109.html" target="_blank" title="楼王全民创业园（二期）工业标准厂房项目">楼王全民创业园（二期）工业标准厂房项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32543026.html" target="_blank" title="巩固10号地(二期)公建配套工程">巩固10号地(二期)公建配套工程</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542937.html" target="_blank" title="运维检修用房工程">运维检修用房工程</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542905.html" target="_blank" title="印刷品项目">印刷品项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542883.html" target="_blank" title="标准型厂房项目(车间一,二,三及辅房一,二,三及室外配套：框架,">标准型厂房项目(车间一,二,三及辅房一,二,三及室外配套：框架,</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542875.html" target="_blank" title="多功能手套生产项目">多功能手套生产项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542863.html" target="_blank" title="天虹街坊中心项目">天虹街坊中心项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542837.html" target="_blank" title="泗洪县五里江学校建设工程">泗洪县五里江学校建设工程</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542806.html" target="_blank" title="(盐城)射阳县城建商务大厦项目">(盐城)射阳县城建商务大厦项目</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[江苏]</span><a href="http://www.chinabiddingzb.com/read-32542759.html" target="_blank" title="南京市农业科学研究所科研实验中心项目（更新1）">南京市农业科学研究所科研实验中心项目（更新1）</a><span>[Vip项目]</span><b>12/22</b></li>
    <li><span>[广西]</span><a href="http://www.chinabiddingzb.com/read-32569119.html" target="_blank" title="滨海江语湖商住小区项目">滨海江语湖商住小区项目</a><span>[Vip项目]</span><b>12/22</b></li>
</ul>

{{template "bottom.html" .}}
{{template "footerjs.html" .}}