{{template "header.html" .}}

<div class="main-container">
	<div class="main-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="login-container" style="width: 420px">
					<div class="center">
						<h1>
							<i class="ace-icon fa fa-leaf green"></i>
							<span class="red">Hiyun</span>
							<span class="white" id="id-text2">CMS 后台管理系统</span>
						</h1>
						<h4 class="blue" id="id-company-text">&copy; Hiyun</h4>
					</div>

					<div class="space-6"></div>

					<div class="position-relative">
						<div id="login-box" class="login-box visible widget-box no-border">
							<div class="widget-body">
								<div class="widget-main">
									<h4 class="header blue lighter bigger">
										<i class="ace-icon fa fa-coffee green"></i>
										用户登录
									</h4>

									<div class="space-6"></div>

									<form method="POST" action="/login">
										<fieldset>
											<h5>{{ .msg }}</h5>
											<label class="block clearfix">
												用户名：
												<span class="block input-icon input-icon-right">
													<input type="text" class="form-control" name="Username" placeholder="Username" />
													<i class="ace-icon fa fa-user"></i>
												</span>
											</label>

											<label class="block clearfix">
												密&nbsp;码:
												<span class="block input-icon input-icon-right">
													<input type="password" class="form-control" name="Password" placeholder="Password" />
													<i class="ace-icon fa fa-lock"></i>
												</span>
											</label>

											<div class="block clearfix">
												验证码：
												<label class="block input-icon input-icon-right">
													<input type="text" class="form-control" name="vcode" placeholder="验证码" />
													<img id="captcha-img" src="/captcha">&nbsp;&nbsp;<span id="refresh-button" style="position:relative;margin-top: -5px;cursor: default">刷新</span>
												</label>


											</div>

											<div class="space-4"></div>
											<div>
												<button id="login-button" type="button" class="width-35 pull-right btn btn-sm btn-primary">
													<i class="ace-icon fa fa-key"></i>
													<span class="bigger-110">登录</span>
												</button>
											</div>
										</fieldset>
									</form>


								</div><!-- /.widget-main -->

								<div class="toolbar clearfix">

								</div>
							</div><!-- /.widget-body -->
						</div><!-- /.login-box -->
					</div><!-- /.position-relative -->

					<div class="navbar-fixed-top align-right">
						<br />
						&nbsp;
						<a id="btn-login-dark" href="#">Dark</a>
						&nbsp;
						<span class="blue">/</span>
						&nbsp;
						<a id="btn-login-blur" href="#">Blur</a>
						&nbsp;
						<span class="blue">/</span>
						&nbsp;
						<a id="btn-login-light" href="#">Light</a>
						&nbsp; &nbsp; &nbsp;
					</div>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.main-content -->
</div><!-- /.main-container -->

{{template "footer.html" .}}
<!-- basic scripts -->

<!--[if !IE]> -->
<script src="static/ace/assets/js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="static/ace/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='static/ace/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
	jQuery(function($) {
	 $(document).on('click', '.toolbar a[data-target]', function(e) {
		e.preventDefault();
		var target = $(this).data('target');
		$('.widget-box.visible').removeClass('visible');//hide others
		$(target).addClass('visible');//show target
	 });

	 $("#login-button").click(function () {
		$("form").submit()
     })
        $("#refresh-button").click(function () {
            $("#captcha-img").attr("src", "/captcha?" + Date.now())
        })

	});



	//you don't need this, just used for changing background
	jQuery(function($) {
	 $('#btn-login-dark').on('click', function(e) {
		$('body').attr('class', 'login-layout');
		$('#id-text2').attr('class', 'white');
		$('#id-company-text').attr('class', 'blue');

		e.preventDefault();
	 });
	 $('#btn-login-light').on('click', function(e) {
		$('body').attr('class', 'login-layout light-login');
		$('#id-text2').attr('class', 'grey');
		$('#id-company-text').attr('class', 'blue');

		e.preventDefault();
	 });
	 $('#btn-login-blur').on('click', function(e) {
		$('body').attr('class', 'login-layout blur-login');
		$('#id-text2').attr('class', 'white');
		$('#id-company-text').attr('class', 'light-blue');

		e.preventDefault();
	 });

	});
</script>

