{{template "header.html" .}}
{{template "top.html" .}}

<link rel="stylesheet" href="/static/jstree/themes/default/style.min.css" />
<link rel="stylesheet" href="/static/ace/assets/css/bootstrap-duallistbox.min.css" />

<div class="row">
    <div class="col-xs-2" style="height:540px;border: 1px solid #307ECC;padding: 10px;font-size:14px;">
        <div >
            <a id="org-id-0" href="#" class="jstree-anchor  jstree-clicked"><i class="jstree-icon jstree-themeicon ace-icon ace-icon fa fa-folder blue jstree-themeicon-custom">组织结构树</i></a>
        </div>
        <div id="brand_tree" class="demo" style="min-height:200px;max-height: 600px;overflow: auto;"></div>
    </div>
    <div class="col-xs-10">
            <table id="user-table"></table>
            <div id="user-pager"></div>
    </div>
</div>

<div title=" 选择角色" id="select_role_div">
    <div id="select_role_form" class="row" style="display: none">
        <div class="col-xs-12">
            <select id="select_role" multiple="multiple" size="10" name="roles">
            </select>
        </div>
    </div>
</div>

{{template "bottom.html" .}}
{{template "footer.html" .}}
<script src="/static/ace/assets/js/jquery-ui.min.js"></script>
<script src="/static/ace/assets/js/jquery.bootstrap-duallistbox.min.js"></script>
<script src="/static/jstree/jstree.min.js"></script>
<script type="application/javascript">

    var parentId = 0;
    var parentName = "用户列表(组织结构树)";
    treeInit('brand_tree');
    orgList()

    jQuery("#org-id-0").click(function(){
        parentId = 0;
        jQuery(".ui-jqgrid-title").text("用户列表(组织结构树)");
        jQuery("#user-table").jqGrid('setGridParam',{
            postData : {"orgId" : parentId},
            page : 1
        }).trigger('reloadGrid');//重新载入

    });

    function treeInit(divId) {
        $('#' + divId).jstree({
            core: {
                data: {
                    url: '/orgtree',
                    data: function(treeNode) {
                        return {
                            parentId: treeNode.id
                        };
                    }
                }
            }
        }).bind('select_node.jstree', function(node, refNode) {
            parentName = refNode.node.text;
            jQuery(".ui-jqgrid-title").text("用户列表("+parentName+")");
            parentId = refNode.node.id;
            jQuery("#user-table").jqGrid('setGridParam',{
                postData : {"orgId" : parentId},
                page : 1
            }).trigger('reloadGrid');//重新载入
        });
    }

    function orgList() {
        var grid_selector = "#user-table";
        var pager_selector = "#user-pager";

        var parent_column = $(grid_selector).closest('[class*="col-"]');
        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid( 'setGridWidth', parent_column.width() );
        })

        //resize on sidebar collapse/expand
        $(document).on('settings.ace.jqGrid' , function(ev, event_name, collapsed) {
            if( event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed' ) {
                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                setTimeout(function() {
                    $(grid_selector).jqGrid( 'setGridWidth', parent_column.width() );
                }, 20);
            }
        })

        var data = {
            "orgId" : parentId
        }

        jQuery(grid_selector).jqGrid({
            caption: parentName,
            subGrid : false,
            datatype: "json",
            data : data,
            url: '/userlist',
            editurl : '/useredit',
            mtype:'POST',
            //datatype: "local",
            height: 400,
            shrinkToFit: true,
            colNames:[' ', 'ID', '', '姓名',  '登录名',  '手机', '设置角色'],
            colModel:[
                {name:'myac',index:'', width:80, fixed:true, sortable:false, resize:false,
                    formatter:'actions',
                    formatoptions:{
                        keys:true,
                        //delbutton: ,//disable delete button
                        delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback},
                        //editformbutton:true, editOptions:{recreateForm: true, beforeShowForm:beforeEditCallback}
                    }
                },
                {name:'id',index:'id', width:60, sorttype:"int", editable: false},
                {name:'',index:'', width:100,editable: true, hidden : true},
                {name:'Name',index:'name', width:100,editable: true,editrules:{required: true}},
                {name:'LoginName',index:'login_name', width:70, editable: true,editrules:{required: true}},
                {name:'Phone',index:'phone', width:90, editable: true},
                {
                    name: 'resource',
                    width: 80,
                    align: 'center',
                    editable: false,
                    search: false,
                    formatter: function(cellVal, opts, rowObj) {
                        return '<button class="setRole btn btn-xs btn-warning">设置角色</button>';
                    }
                }
            ],

            viewrecords : true,
            rowNum:10,
            rowList:[10,20,30],
            pager : pager_selector,
            altRows: true,
            multiselect: true,
            //multikey: "ctrlKey",
            multiboxonly: true,

            loadComplete : function() {
                var table = this;
                setTimeout(function(){
                    styleCheckbox(table);

                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);

                    // 设置资源
                    $('.setRole').click(function(){
                        var rowId = $(this).parents('tr').attr('id');
                        setRole(rowId);
                    });
                }, 0);
            }

        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size

        //switch element when editing inline
        function aceSwitch( cellvalue, options, cell ) {
            setTimeout(function(){
                $(cell) .find('input[type=checkbox]')
                    .addClass('ace ace-switch ace-switch-5')
                    .after('<span class="lbl"></span>');
            }, 0);
        }
        //enable datepicker
        function pickDate( cellvalue, options, cell ) {
            setTimeout(function(){
                $(cell) .find('input[type=text]')
                    .datepicker({format:'yyyy-mm-dd' , autoclose:true});
            }, 0);
        }


        //navButtons
        jQuery(grid_selector).jqGrid('navGrid',pager_selector,
            { 	//navbar options
                edit: true,
                editicon : 'ace-icon fa fa-pencil blue',
                add: true,
                addicon : 'ace-icon fa fa-plus-circle purple',
                del: false,
                delicon : 'ace-icon fa fa-trash-o red',
                search: false,
                searchicon : 'ace-icon fa fa-search orange',
                refresh: true,
                refreshicon : 'ace-icon fa fa-refresh green',
                view: false,
                viewicon : 'ace-icon fa fa-search-plus grey',
            },
            {
                //edit record form
                //closeAfterEdit: true,
                //width: 700,
                recreateForm: true,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                }
            },
            {
                //new record form
                //width: 700,
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    /*
                    var hiddenParentId=document.createElement("input");
                    hiddenParentId.setAttribute("type","hidden");
                    hiddenParentId.value=parentId;
                    hiddenParentId.name = "ParentId";
                    form.append(hiddenParentId);
                    */
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                beforeSubmit: function(postdata, formObj){
                    //var parentId = $('.DataTD #parentId', formObj).data('value');
                    postdata.orgId = parentId;
                    return [true,'']
                }
            },
            {
                //delete record form
                recreateForm: true,
                beforeShowForm : function(e) {
                    var form = $(e[0]);
                    if(form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                },
                afterSubmit: function (response, postdata) {
                    var arr =  response.responseText;
                    if(arr == "success") {
                        $('#brand_tree').jstree('refresh');
                        return [true, ''];
                    }
                },
                onClick : function(e) {
                    //alert(1);
                }
            },
            {
                //search form
                recreateForm: true,
                afterShowSearch: function(e){
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    style_search_form(form);
                },
                afterRedraw: function(){
                    style_search_filters($(this));
                }
                ,
                multipleSearch: true,
                /**
                 multipleGroup:true,
                 showQuery: true
                 */
            },
            {
                //view record form
                recreateForm: true,
                beforeShowForm: function(e){
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                }
            }
        )



        function style_edit_form(form) {
            //enable datepicker on "sdate" field and switches for "stock" field
            form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})

            form.find('input[name=stock]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
            //don't wrap inside a label element, the checkbox value won't be submitted (POST'ed)
            //.addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');


            //update buttons classes
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
            buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')

            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').hide();
            buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
            buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
        }

        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
            buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
        }

        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-xs btn-primary');
            form.find('.add-group').addClass('btn btn-xs btn-success');
            form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }
        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
        }

        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if(form.data('styled')) return false;

            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);

            form.data('styled', true);
        }

        function beforeEditCallback(e) {
            var form = $(e[0]);
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_edit_form(form);
        }



        //it causes some flicker when reloading or navigating grid
        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
        //or go back to default browser checkbox styles for the grid
        function styleCheckbox(table) {
            /**
             $(table).find('input:checkbox').addClass('ace')
             .wrap('<label />')
             .after('<span class="lbl align-top" />')


             $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
             .find('input.cbox[type=checkbox]').addClass('ace')
             .wrap('<label />').after('<span class="lbl align-top" />');
             */
        }


        //unlike navButtons icons, action icons in rows seem to be hard-coded
        //you can change them like this in here if you want
        function updateActionIcons(table) {
            /**
             var replacement =
             {
                 'ui-ace-icon fa fa-pencil' : 'ace-icon fa fa-pencil blue',
                 'ui-ace-icon fa fa-trash-o' : 'ace-icon fa fa-trash-o red',
                 'ui-icon-disk' : 'ace-icon fa fa-check green',
                 'ui-icon-cancel' : 'ace-icon fa fa-times red'
             };
             $(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
             */
        }

        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first' : 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev' : 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next' : 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end' : 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({container:'body'});
            $(table).find('.ui-pg-div').tooltip({container:'body'});
        }

        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

        $(document).one('ajaxloadstart.page', function(e) {
            $.jgrid.gridDestroy(grid_selector);
            $('.ui-jqdialog').remove();
        });

    }

    /**
     * 设置角色
     * @param userId
     */
    function setRole(userId) {
        $('#select_role_div').dialog({
            title: "选择角色",
            title_html: true,
            modal: true,
            width : 600,
            height: 450,
            resizable: false,
            open: function () {
                $('#select_role').remove();
                $('#select_role_form .col-xs-12').html('<select id="select_role" multiple="multiple" size="10" name="roles"></select>');
                $('#select_role_form').show();
                $.getJSON('/userrole', {userId : userId}, function(options) {
                    $('#select_role').html(options);

                    roleInitListBox();
                    var height = $('#select_role_div').height() * 0.85 - $('.box1>label').height() - $('.box1>span').height() - $('.box1>input').height() - $('.box1>div').height();
                    $('select[multiple="multiple"]').css('height', height);
                });
            },
            buttons: [{
                html: "<i class='ace-icon fa fa-crosshairs bigger-110'></i>&nbsp; 确定",
                "class": "btn btn-primary btn-xs",
                click: function () {
                    setRoleSubmit(userId);
                }
            }, {
                html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; 取消",
                "class": "btn btn-xs",
                click: function () {
                    $('#select_role_form').hide();
                    $(this).dialog("close");
                }
            }]
        });
    }

    function setRoleSubmit (userId) {
        var roleIds = $('[name="roles"]').val();
        if (!roleIds) {
            roleIds = "";
        }
        $.getJSON('/userrolesave', {userId : userId, roleIds : roleIds.toString()}, function(r){
            if (r.result = 'success') {
                $('#select_role_form').hide();
                $('#select_role_div').dialog("close");
            }
        });
    }

    function roleInitListBox () {
        var demo = $('select[name="roles"]').bootstrapDualListbox({
            infoText : false,
            selectedListLabel : '<span class="label label-success">已选择的角色</span>',
            nonSelectedListLabel : '<span class="label label-warning">未选择的角色</span>',
            filterPlaceHolder : '',
            preserveSelectionOnMove : 'moved'

        });
        var container = demo.bootstrapDualListbox('getContainer');
        container.find('.btn').addClass('btn-white btn-info btn-bold');

    }

</script>