{{template "headerjs.html" .}}

<link href="/static/userregistry/code.css" rel="stylesheet">



{{template "navbar.html" .}}
<div class="login-box f-mt10 f-pb50">


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
            <div class="main bgf">
                <h3 style="font-size: 24px">选择会员类型</h3>
            </div>
            </div>
        </div>
        <div class="row" style="font-size: 18px">
            <div class="col-md-6 col-md-offset-3">
                <div class="radio">
                    <label>
                        <input type="radio" name="vip-type" id="optionsRadios1" value="1" checked>
                        医院原供应商升级包 600元/年
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="vip-type" id="optionsRadios2" value="2">
                        合格供应商 1200元/年
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="vip-type" id="optionsRadios3" value="3">
                        优选供应商 1800/年
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="font-size: 18px">
            <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-success">支付</button>
            </div>
        </div>
    </div>
</div>
<div class="m-sPopBg" style="z-index:998;"></div>


{{template "bottom.html" .}}
{{template "footerjs.html" .}}

<script src="/static/plugin/ajaxfileupload.js"></script>
<script>
    jQuery(function(){

        //第一页的确定按钮
        $("#btn_part1").click(function(){
            $(".part1").hide();
            $(".part2").show();
            $(".step li").eq(1).addClass("on");
        });

        $("#btn_part2-0").click(function () {
            $(".part1").show();
            $(".part2").hide();
        });
        //第二页的确定按钮
        $("#btn_part2").click(function(){
            //if(!verifyCheck._click()) return;
            var chk_value =[];
            $('input[name="company-type"]:checked').each(function(){
                chk_value.push($(this).val());
            });
            if( chk_value.length == 0 ){
                alert("其选择公司类型！")
                return;
            }

            var boj = {
                        CompanyName  : $("input[name='CompanyName']").val(),
                        UserName     : $("input[name='UserName']").val(),
                        UserPhone    : $("input[name='UserPhone']").val(),
                        UserPassword : $("input[name='UserPassword']").val(),
                        company_type : chk_value,
                        vip_type     : $("input[name='vip-type']:checked").val()
            }

            if( boj.CompanyName == "" ){
                alert("公司名称必填！")
                return;
            }

            if( boj.UserName == "" ){
                alert("UserName！")
                return;
            }


            $.ajaxFileUpload({
                url:"registry",
                secureuri:false,
                fileElementId:$("input[name='license-img']").attr("id"),
                dataType:'json',
                data:boj,
                type:'POST',
                success:function(data){
                    if(data.regsuccess){
                        $(".part2").hide();
                        $(".part4").show();
                        $(".step li").eq(2).addClass("on");
                    }
                    else {
                        alert(data.msg)
                    }
                },
                error:function(data){
                    alert("error"+data.msg);
                }
            });
            //$(".part3").show();
        });
        //第三页的确定按钮
        $("#btn_part3").click(function(){
            //if(!verifyCheck._click()) return;
            $(".part3").hide();
            $(".part4").show();
            $(".step li").eq(2).addClass("on");
            countdown({
                maxTime:10,
                ing:function(c){
                    $("#times").text(c);
                },
                after:function(){
                    window.location.href="my.html";
                }
            });
        });
    });
    function showoutc(){$(".m-sPopBg,.m-sPopCon").show();}
    function closeClause(){
        $(".m-sPopBg,.m-sPopCon").hide();
    }
</script>