{{template "headerjs.html" .}}

<link href="/static/userregistry/code.css" rel="stylesheet">



{{template "navbar.html" .}}
<div class="login-box f-mt10 f-pb50">
    <div class="main bgf">
        <div class="reg-box-pan display-inline">
            <div class="step">
                <ul>
                    <li class="col-xs-4 on">
                        <span class="num"><em class="f-r5"></em><i>1</i></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">填写账户信息</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>2</i></span>
                        <span class="line_bg lbg-l"></span>
                        <span class="line_bg lbg-r"></span>
                        <p class="lbg-txt">会员信息</p>
                    </li>
                    <li class="col-xs-4">
                        <span class="num"><em class="f-r5"></em><i>3</i></span>
                        <span class="line_bg lbg-l"></span>
                        <p class="lbg-txt">注册成功</p>
                    </li>
                </ul>
            </div>
            <div class="reg-box" id="verifyCheck" style="margin-top:20px;">
                <form id="reg-form" method="POST">
                <div class="part1" style="display: {{if eq .regsuccess true}}none{{end}}">
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>公司名称：</span>
                        <div class="f-fl item-ifo">
                            <input name="CompanyName" type="text" maxlength="20" class="txt03 f-r3 required" tabindex="1" data-valid="isNonEmpty||between:3-20||isUname" data-error="公司名称不能为空||用户名长度3-20位||只能输入中文、字母、数字、下划线，且以中文或字母开头" />
                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus"><span>填写营业执照上的名称</span></label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>用户名：</span>
                        <div class="f-fl item-ifo">
                            <input name="UserName" type="text" maxlength="20" class="txt03 f-r3 required" tabindex="1" data-valid="isNonEmpty||between:3-20||isUname" data-error="用户名不能为空||用户名长度3-20位||只能输入中文、字母、数字、下划线，且以中文或字母开头" />
                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus"><span>用户姓名</span></label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>手机号：</span>
                        <div class="f-fl item-ifo">
                            <input name="UserPhone" type="text" class="txt03 f-r3 required" keycodes="tel" tabindex="2" data-valid="isNonEmpty||isPhone" data-error="手机号码不能为空||手机号码格式不正确" maxlength="11"/>
                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">请填写11位有效的手机号码,登录名</label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>密码：</span>
                        <div class="f-fl item-ifo">
                            <input name="UserPassword" type="password" id="password" maxlength="20" class="txt03 f-r3 required" tabindex="3" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2" data-error="密码不能为空||密码长度6-20位||该密码太简单，有被盗风险，建议字母+数字的组合" />
                            <span class="ie8 icon-close close hide" style="right:55px"></span>
                            <span class="showpwd" data-eye="password"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">6-20位英文（区分大小写）、数字、字符的组合</label>
                            <label class="focus valid"></label>
                            <span class="clearfix"></span>
                            <label class="strength">
                                <span class="f-fl f-size12">安全程度：</span>
                                <b><i>弱</i><i>中</i><i>强</i></b>
                            </label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>确认密码：</span>
                        <div class="f-fl item-ifo">
                            <input name="SecondPassword" type="password" maxlength="20" class="txt03 f-r3 required" tabindex="4" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-16||isRepeat:password" data-error="密码不能为空||密码长度6-16位||两次密码输入不一致"/>
                            <span class="ie8 icon-close close hide" style="right:55px"></span>
                            <span class="showpwd" data-eye="rePassword"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">请再输入一遍上面的密码</label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>手机验证码：</span>
                        <div class="f-fl item-ifo">
                            <input name="VerifyCode" type="text" maxlength="6" class="txt03 f-r3 f-fl required" tabindex="4" style="" id="randCode" data-valid="isNonEmpty" data-error="验证码不能为空" />
                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide" style="left:380px"></label>
                            <label class="focusa"><input class="btn btn-default" type="button" id="btn" value="免费获取验证码" onclick="sendemail()" /> </label>
                            <label class="focus valid" style="left:370px"></label>
                        </div>
                    </div>
                    <!--div class="item col-xs-12" style="height:auto">
                        <span class="intelligent-label f-fl">&nbsp;</span>
                        <p class="f-size14 required"  data-valid="isChecked" data-error="请先同意条款">
                            <input type="checkbox" checked /><a href="javascript:showoutc();" class="f-ml5">我已阅读并同意条款</a>
                        </p>
                        <label class="focus valid"></label>
                    </div-->
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl">&nbsp;</span>
                        <div class="f-fl item-ifo">
                            <a href="javascript:;" class="btn btn-blue f-r3" id="btn_part1">下一步</a>
                        </div>
                    </div>
                </div>

                <div class="part2" style="display:none">
                    <!--div class="alert alert-info" style="width:700px">短信已发送至您手机，请输入短信中的验证码，确保您的手机号真实有效。</div-->
                    <div class="row">
                        <div class="col-md-2">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>注册类型：</span>
                        </div>
                        <div class="col-md-9">
                            <div class="control-group">
                                <div class="checkbox">
                                    <label>
                                        <input name="company-type" value="1" class="ace ace-checkbox-2" type="radio" checked>
                                        <span class="lbl">医院</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="company-type" type="radio" value="2" class="ace">
                                        <span class="lbl">供应商</span>
                                    </label>
                                </div>

                                <!--div class="checkbox">
                                    <label>
                                        <input name="company-type" type="checkbox" value="2" class="ace">
                                        <span class="lbl">代理商</span>
                                    </label>
                                </div-->



                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>

                    <div class="row">
                        <div class="col-md-2">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>三证合一：</span>
                        </div>
                        <div class="col-md-9">
                            <div class="control-group">
                              <input type="file" name="license-img" id="license-img">
                            </div>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <!--
                    <div class="row">
                        <div class="col-md-2">
                            <span class="intelligent-label f-fl"><b class="ftx04">*</b>会员类型：</span>
                        </div>
                        <div class="col-md-9">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="vip-type" id="optionsRadios1" value="1" checked>
                                    医院原供应商升级包
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="vip-type" id="optionsRadios2" value="2">
                                    合格供应商
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="vip-type" id="optionsRadios3" value="3">
                                    优选供应商
                                </label>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="row">&nbsp;</div>
                    <div class="row">&nbsp;</div>

                    <div class="item col-xs-12">
                        <div class="col-xs-12">
                            <a href="javascript:;" class="btn btn-blue f-r3" id="btn_part2-0">上一步</a>&nbsp;&nbsp;<a href="javascript:;" class="btn btn-blue f-r3" id="btn_part2">注册</a>
                        </div>
                    </div>
                </div>

                </form>

                <div class="part3" style="display:{{if eq .regsuccess true}}block {{else}}none{{end}}">
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>真实姓名：</span>
                        <div class="f-fl item-ifo">
                            <input type="text" maxlength="10" class="txt03 f-r3 required" tabindex="1" data-valid="isNonEmpty||between:2-10||isZh" data-error="真实姓名不能为空||真实姓名长度2-10位||只能输入中文" id="adminNo" />
                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">2-10位，中文真实姓名</label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl"><b class="ftx04">*</b>身份证号：</span>
                        <div class="f-fl item-ifo">
                            <input type="text" class="txt03 f-r3 required" tabindex="2" data-valid="isNonEmpty||isCard" data-error="身份证号不能为空||身份证号码格式不正确" maxlength="18" id="phone" />
                            <span class="ie8 icon-close close hide"></span>
                            <label class="icon-sucessfill blank hide"></label>
                            <label class="focus">请填写18位有效的手机号码</label>
                            <label class="focus valid"></label>
                        </div>
                    </div>
                    <div class="item col-xs-12">
                        <span class="intelligent-label f-fl">&nbsp;</span>
                        <div class="f-fl item-ifo">
                            <a href="javascript:;" class="btn btn-blue f-r3" id="btn_part3">下一步</a>
                        </div>
                    </div>
                </div>
                <div class="part4 text-center" style="display:none">
                    <h3>恭喜您已注册成功,请您登录！</h3>
                    <p class="c-666 f-mt30 f-mb50">页面将在 <strong id="times" class="f-size18">5</strong> 秒钟后，跳转到 <a href="/userlogin" class="c-blue">登录页面</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-sPopBg" style="z-index:998;"></div>
<div class="m-sPopCon regcon">
    <div class="m-sPopTitle"><strong>服务协议条款</strong><b id="sPopClose" class="m-sPopClose" onClick="closeClause()">×</b></div>
    <div class="apply_up_content">
    	<pre class="f-r0">
		<strong>同意以下服务条款，提交注册信息</strong>
        </pre>
    </div>
    <center><a class="btn btn-blue btn-lg f-size12 b-b0 b-l0 b-t0 b-r0 f-pl50 f-pr50 f-r3" href="javascript:closeClause();">已阅读并同意此条款</a></center>
</div>

{{template "bottom.html" .}}
{{template "footerjs.html" .}}

<script src="/static/plugin/ajaxfileupload.js"></script>
<script>
    jQuery(function(){

        //第一页的确定按钮
        $("#btn_part1").click(function(){

            var boj = {
                CompanyName  : $("input[name='CompanyName']").val(),
                UserPhone    : $("input[name='UserPhone']").val(),
                VerifyCode   : $("input[name='VerifyCode']").val()
            }

            if( $("input[name='SecondPassword']").val() !=  $("input[name='UserPassword']").val() ){
                alert("两次密码输入不一致！")
                return;
            }

            if( $("input[name='UserPassword']").val().length < 6 ){
                alert("密码不能少于6位！")
                return;
            }
            jQuery.post("/RegistryVerify",boj,function(data, textStatus, jqXHR){
                if(data.isSuccess){
                    $(".part1").hide();
                    $(".part2").show();
                    $(".step li").eq(1).addClass("on");
                }else{
                    alert( data.msg )
                }
            },"json")
        });

        $("#btn_part2-0").click(function () {
            $(".part1").show();
            $(".part2").hide();
            $(".step li").eq(1).removeClass("on");
        });
        //第二页的确定按钮
        $("#btn_part2").click(function(){
            //if(!verifyCheck._click()) return;
            /*
            var chk_value =[];
            $('input[name="company-type"]:checked').each(function(){
                chk_value.push($(this).val());
            });
            if( chk_value.length == 0 ){
                alert("其选择公司类型！")
                return;
            }*/

            var boj = {
                        CompanyName  : $("input[name='CompanyName']").val(),
                        UserName     : $("input[name='UserName']").val(),
                        UserPhone    : $("input[name='UserPhone']").val(),
                        UserPassword : $("input[name='UserPassword']").val(),
                        VerifyCode   : $("input[name='VerifyCode']").val(),
                        company_type : $("input[name='company-type']:checked").val(),
                        vip_type     : $("input[name='vip-type']:checked").val()
            }

            if( boj.CompanyName == "" ){
                alert("公司名称必填！")
                return;
            }

            if( boj.UserName == "" ){
                alert("UserName！")
                return;
            }
            if( $("input[name='license-img']").val() == ''){
                alert("请上传营业执照");
                return;
            }


            $.ajaxFileUpload({
                url:"registry",
                secureuri:false,
                fileElementId:$("input[name='license-img']").attr("id"),
                dataType:'json',
                data:boj,
                type:'POST',
                success:function(data){
                    if(data.regsuccess){
                        $(".part2").hide();
                        $(".part4").show();
                        $(".step li").eq(2).addClass("on");
                        setTimeout("window.location.href='/userlogin'",5000)
                    }
                    else {
                        alert(data.msg)
                    }
                },
                error:function(data){
                    alert("error"+data.msg);
                }
            });
            //$(".part3").show();
        });
        //第三页的确定按钮
        $("#btn_part3").click(function(){
            //if(!verifyCheck._click()) return;
            $(".part3").hide();
            $(".part4").show();
            $(".step li").eq(2).addClass("on");
            countdown({
                maxTime:10,
                ing:function(c){
                    $("#times").text(c);
                },
                after:function(){
                    window.location.href="my.html";
                }
            });
        });
    });
    function showoutc(){$(".m-sPopBg,.m-sPopCon").show();}
    function closeClause(){
        $(".m-sPopBg,.m-sPopCon").hide();
    }

    var countdown=60;
     function sendemail() {
         countdown = 60;
         console.log("adfasdfasdfasdf");
         if( $("input[name='UserPhone']").val() == '' ){
            alert("请你输入手机号！")
            return;
        }
        $.post("/sendSms", {"UserPone": $("input[name='UserPhone']").val()},
            function (data, textStatus, jqXHR) {
                if( data.success ){
                    var obj = $("#btn");
                    settime(obj);
                }
            },
            "json");
    }
    

    function settime(obj) { //发送验证码倒计时
        if (countdown == 0) {
            obj.attr('disabled',false);
            //obj.removeattr("disabled");
            obj.val("免费获取验证码");
            countdown = 60;
            return;
        } else {
            obj.attr('disabled',true);
            obj.val("重新发送(" + countdown + ")");
            countdown--;
        }
        setTimeout(function() {
                    settime(obj) }
                ,1000)
    }

</script>