<div class="footer-area">
    <div class="container">
        <div class="row footer">
            <div class="col-md-4">
                <div class="single-footer">
                    <img src="/static/yy/img/footer-logo.png" height="70px" alt="" class="wow pulse" data-wow-delay="1s">
                    <p>医易购是一家生么样的网站，</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4></h4>
                    <div class="twitter-updates">
                        <div class="single-tweets">
                            <h5>服务理念</h5>
                            <p><strong>服务第一</strong>  <a href="">service</a></p>
                        </div>
                        <div class="single-tweets">
                            <h5>关于我们</h5>
                            <p><strong>我们</strong> <a href="">about</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4></h4>
                    <div class="footer-links">
                        <ul class="list-unstyled">
                            <li><a href="">关于我们</a></li>
                            <li><a href="">服务</a></li>
                            <li><a href="">采招</a></li>
                            <li><a href="">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-copy" style="margin: 0 auto; text-align: center">
            <p><span>(C) 医易购医疗物资采购平台, 所有版本保留</span> </p>
        </div>
    </div>
</div>