<div class="footer-area">
    <div class="container">
        <div class="row footer">
            <div class="col-md-4">
                <div class="single-footer">
                    <img src="/static/yy/img/logo.jpg" height="70px" alt="" class="wow pulse" data-wow-delay="1s">
                </div>
            </div>
            {{ $columns := loadColumn }}
            {{ range $k,$v :=  $columns }}
            <div class="col-md-1">
                <div class="single-footer">&nbsp;
                <li class="wow fadeInDown" data-wow-delay="0s"><a class="" href="{{$v.Url}}">{{$v.Name}}</a></li>
                </div>
            </div>
            {{end}}
            <!--div class="col-md-4">
                <div class="single-footer">&nbsp;
                    <h4></h4>
                    <div class="twitter-updates">
                        <div class="single-tweets">
                            <h5>服务理念</h5>
                            <p><strong>服务第一</strong>  <a href="">service</a></p>
                        </div>
                        <div class="single-tweets">
                            <h5>关于我们</h5>
                            <p><strong>我们</strong> <a href="">about</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-footer">
                    <h4></h4>
                    <div class="footer-links">
                        <ul class="list-unstyled">
                            <li><a href="">关于我们</a></li>
                            <li><a href="">服务</a></li>
                            <li><a href="">采招</a></li>
                            <li><a href="">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div-->
        </div>
        <div class="row footer-copy" style="margin: 0 auto; text-align: center">
            <p><span>ICP备案号:09502636</span> <span><script type="text/javascript">document.write(unescape("%3Cspan id='_ideConac' %3E%3C/span%3E%3Cscript src='http://dcs.conac.cn/js/02/000/0000/60745356/CA020000000607453560002.js' type='text/javascript'%3E%3C/script%3E"));</script></span> </p>
        </div>
    </div>
</div>

