
<div class="right_box">
    <div class="news_box1">
        <div class="content cf_o">
                        	<span class="woshou">
                            	<a href="" target="_blank">招投标培训</a>
                                <a href="" target="_blank">诚信认证</a>
                                <a href="" target="_blank">招标代理</a>
                                <a href="" target="_blank">标书制作</a>
                            </span>
            <span class="jinrong">
                            	<a href="" target="_blank">招标保证金</a>
                                <a href="" target="_blank">投标保函</a>
                                <a href="" target="_blank">中标贷</a>
                                <a href="" target="_blank">项目融资</a>
                            </span>
        </div>
    </div>
    <div class="zb_news" style="margin-top:20px;">
        <div class="title">
            <span>优质供应商</span>
        </div>
        <div class="center">
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/74e9c65aa6fb132d9bf7aad55535a540.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/f7004fd6eab218ad109e205a8494391c.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/5fb24b7253ec4ed67e704e42d8e55ae7.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/2145a2dcb18fb442875e4abc5034ba3d.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/79e6a80f712cf9437ed1d7513984236f.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/6d39d6ed00a5ab807221bf9c8dfd1f6e.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/f5004b93ce8f57bc10641b3a21d1d77b.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171207/edfef0cdc2b202bfd03f2d6ab109eaa2.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171113/37ee1e51e6ab727b74f27d44fc78b4e6.jpg"><span>立即访问</span></a></label>
            <label><a href="" target="_blank"><img src="/upload/banner/pics/20171113/445daa0dc74cff196ab4902dcc421df2.jpg"><span>立即访问</span></a></label>
        </div>
    </div>
    <!--div class="zb_news" style="margin-top:20px;">
        <div class="title">
            <span>招标热点</span>
        </div>
        <div class="center">
            <div class="zb_rd cf_o">
                <a href="" target="_blank">电缆招标</a>
                <a href="" target="_blank">银行招标</a>
                <a href="" target="_blank">青岛招标</a>
                <a href="" target="_blank">煤招标</a>
                <a href="" target="_blank">水电招标</a>
                <a href="" target="_blank">食堂招标</a>
                <a href="" target="_blank">铁塔招标</a>
                <a href="" target="_blank">湖南联通招标</a>
                <a href="" target="_blank">高速公路招标</a>
                <a href="" target="_blank">工作服招标</a>
                <a href="" target="_blank">合肥招标</a>
                <a href="" target="_blank">建筑工程招标</a>
                <a href="" target="_blank">雕塑招标</a>
                <a href="" target="_blank">阀门招标</a>
                <a href="" target="_blank">厨房设备招标</a>
                <a href="" target="_blank">礼品招标</a>
                <a href="" target="_blank">空调招标</a>
                <a href="" target="_blank">服装招标</a>
                <a href="" target="_blank">医疗器械招标</a>
                <a href="" target="_blank">建筑招标</a>
            </div>
        </div>
    </div-->
</div>