
<style>

    dl_zc {
        width: 350px;
        height: 44px;
        margin: 0px auto;
    }

    .dl_zc li a {
        color: #fff;
        font-size: 14px;
    }

    .dl_zc li {
        float: left;
        background: #fe925e;
        width: 175px;
        height: 44px;
        line-height: 44px;

    }
    .deng_l {
        border-right: 1px solid #ff884f;
        text-align: center;
    }

    .zhu_c {
        border-left: 1px solid #ffa478;
        text-align: center;
    }

    dl, li, ul {
        list-style: none outside;
    }
</style>
<div class="right_box">
    <ul class="dl_zc">
        <li class="deng_l"><a target="_blank" href="/userlogin" rel="nofollow"><img src="/static/yy/img/userlogin.png">登录</a></li>
        <li class="zhu_c"><a href="/registry" rel="nofollow"><img src="/static/yy/img/registry.png">注册</a></li>
    </ul>
    <!--div class="news_box1">
        <div class="content cf_o">
            <span class="woshou">
                <a href="" target="_blank">会员</a>
                <a href="" target="_blank">医院</a>
                <a href="" target="_blank">供应商</a>
                <a href="" target="_blank">帮助</a>
            </span>
            <span class="jinrong">
                <a href="" target="_blank">招标贷</a>
                <a href="" target="_blank">中标贷</a>
                <a href="" target="_blank">项目融资</a>
                <a href="" target="_blank">小额贷</a>
            </span>
        </div>
    </div-->
    <div class="zb_news" style="margin-top:20px;">
        <div class="title">
            <span>公告栏</span>
        </div>
    {{ $user := .sessionInfo }}
        <div class="center">
        {{ $inviteTenders := loadArticlesTop "/published/list0" 0 10  }}
        {{range $k,$v := $inviteTenders}}
            <li><span>{{$v.Createtime}}</span><a target="_blank" href="/projectdetail?id={{$v.Id}}" title="{{$v.Title}}">{{$v.Title}}</a></li>
        {{end}}
        </div>
    </div>
    <!--div class="zb_news" style="margin-top:20px;">
        <div class="title">
            <span>招标热点</span>
        </div>
        <div class="center">
            <div class="zb_rd cf_o">
                <a href="" target="_blank">电缆招标</a>
                <a href="" target="_blank">银行招标</a>
                <a href="" target="_blank">青岛招标</a>
                <a href="" target="_blank">煤招标</a>
                <a href="" target="_blank">水电招标</a>
                <a href="" target="_blank">食堂招标</a>
                <a href="" target="_blank">铁塔招标</a>
                <a href="" target="_blank">湖南联通招标</a>
                <a href="" target="_blank">高速公路招标</a>
                <a href="" target="_blank">工作服招标</a>
                <a href="" target="_blank">合肥招标</a>
                <a href="" target="_blank">建筑工程招标</a>
                <a href="" target="_blank">雕塑招标</a>
                <a href="" target="_blank">阀门招标</a>
                <a href="" target="_blank">厨房设备招标</a>
                <a href="" target="_blank">礼品招标</a>
                <a href="" target="_blank">空调招标</a>
                <a href="" target="_blank">服装招标</a>
                <a href="" target="_blank">医疗器械招标</a>
                <a href="" target="_blank">建筑招标</a>
            </div>
        </div>
    </div-->
</div>