<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh-cn"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="zh-cn"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="zh-cn"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh-cn"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>医易购</title>
    <meta name="description" content="company is a free job board template">
    <meta name="author" content="hiyum">
    <meta name="keyword" content="html, css, bootstrap, job-board">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'-->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="icon" type="image/png" href="/static/favicon.png">

    <link rel="stylesheet" href="/static/yy/css/normalize.css">
    <link rel="stylesheet" href="/static/yy/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/yy/css/fontello.css">
    <!--link rel="stylesheet" href="css/animate.css"-->
    <link rel="stylesheet" href="/static/yy/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/yy/css/owl.carousel.css">
    <link rel="stylesheet" href="/static/yy/css/owl.theme.css">
    <link rel="stylesheet" href="/static/yy/css/owl.transitions.css">
    <link rel="stylesheet" href="/static/yy/style.css">
    <link rel="stylesheet" href="/static/yy/responsive.css">
    <link rel="stylesheet" href="/static/yy/css/a.css">

    <link rel="stylesheet" href="/static/userregistry/header.min.css">
    <!--script src="js/vendor/modernizr-2.6.2.min.js"></script-->
    <style>
        body {
            font: 12px 'Microsoft Yahei';
        }
    </style>
</head>
<body>