{{ $user := .sessionInfo }}
{{ $companyInfo := .companyInfo}}
<style>

    .left-box{
        margin-left: 10px;
    }

    .bottom-box{
        margin-bottom: 20px;
    }

    .col-md-6 {
        margin-top: 20px;
    }
    .dynamic-project-box {
        width: 100%;
        height: 100%;
        border: 1px solid #E4E5E9;
        float: left;
        overflow: hidden;
        padding-bottom: 10px;
    }

    .dynamic-project-box .dynamic-project-title span {
        height: 50px;
        line-height: 50px;
        background: url(../static/yy/img/title-cube.png) 20px center no-repeat;
        display: block;
        color: rgb(84, 85, 87);
        font-size: 16px;
        font-weight: bold;
        float: left;
        padding-left: 40px;
    }



    .dynamic-project-title {
        height: 35px;
        font-size: 12px;
        line-height: 35px;
        color: #303435;
        padding-left: 5px;
    }

    .dynamic-project-title a {
        margin: 0 5px;
        color: #303435;
    }

    .dynamic-project-box .dynamic-project-title a {
        height: 31px;
        line-height: 31px;
        width: 45px;
        font-size: 12px;
        float: right;
        display: block;
        margin-right: 13px;
        font-weight: 100;
        color: #000002;
        padding-right: 10px;
    }

    .dynamic-project-box .center ul {
        font-size: 12px;
        width: 100%;
        float: left;
        overflow: hidden;
        color: #6F6F6F;
    }

    .dynamic-project-box .center ul li {
        height: 27px;
        padding-left: 30px;
        background: url(../Images/dot.png) no-repeat 20px center;
        overflow: hidden;
        padding-right: 10px;
        font-size: 12px;
        color: rgb(84, 84, 85);
        line-height: 2.5;
        text-align: left;
    }
    .dynamic-project-box .center ul li a {
        color: #6F6F6F;
        padding-right: 3px;
        width: 360px;
        display: block;

    }



    .dynamic-project-box .center ul li span {
        float: right;
    }
    .dynamic-project-box .center ul li a:hover {
        color: rgb(89, 163, 255);
    }
    a {
        text-decoration: none;
    }
</style>
<div class="row">
    <div class="col-md-9">
        <div class="col-md-6 ">
            <div class="dynamic-project-box left-box">
                <div class="dynamic-project-title">
                    <span>采购项目</span>
                    <!--a href="" title="更多招标公告信息">More&gt;&gt;</a-->
                </div>
                <div class="center">
                    <ul>

                    {{ $inviteTenders := GetPurchaseByCompanyId 10 $companyInfo.Id }}
                    {{range $k,$v := $inviteTenders}}
                        <li><span>{{$v.CreateTime}}</span><a href="/company_projectdetail?id={{$v.Id}}" title="{{$v.ProjectName}}">{{$v.ProjectName}}</a></li>
                    {{end}}

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dynamic-project-box">
                <div class="dynamic-project-title">
                    <span>招标项目</span>
                    <!--a href="" title="更多招标公告信息">More&gt;&gt;</a-->
                </div>
                <div class="center">
                    <ul>
                    {{ if eq $user.CompanyType "1"}}
                    {{ $purchase := GetPurchaseByCompanyId 10 $user.CompanyId  }}
                    {{range $k,$v := $purchase}}
                        <li><span>{{$v.CreateTime}}</span><a href="/company_projectdetail?id={{$v.Id}}" title="{{$v.ProjectName}}">{{$v.ProjectName}}</a></li>
                    {{end}}
                    {{else}}

               {{end}}
                    </ul>
                </div>
            </div>

        </div>
    </div>
{{ if eq $user.CompanyType "1"}}
    <div class="col-md-3" style="text-align: center;padding-top: 20px;">
        <div class="col-md-6">
            <a  target="_blank" href="http://219.239.33.98:8080/yyg/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">
                <img src="/static/yy/img/job-logo1.png"><br>
                电子招标
            </a>
        </div>
        <div class="col-md-6">
            <a  target="_blank" href="http://219.239.33.98:8080/yyg/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">
                <img src="/static/yy/img/job-logo2.png"><br>
                电商
            </a>
        </div>
        <div class="col-md-6">
            <a  target="_blank" href="http://219.239.33.98:8080/yyg/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">
                <img src="/static/yy/img/job-logo3.png"><br>
                CA申请
            </a>
        </div>
        <div class="col-md-6">
            <a  target="_blank" href="/static/yy/ceb_bulletin.zip">
                <img src="/static/yy/img/job-logo3.png"><br>
                发布招标信息
            </a>
        </div>
    </div>
{{else}}
    <div class="col-md-3" style="text-align: center;padding-top: 20px;">
        <div class="col-md-6">
            <a  target="_blank" href="http://219.239.33.98:8080/yyg/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">
                <img src="/static/yy/img/job-logo1.png"><br>
                投标
            </a>
        </div>

        <div class="col-md-6">
            <a  target="_blank" href="http://219.239.33.98:8080/yyg/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">
                <img src="/static/yy/img/job-logo3.png"><br>
                CA申请
            </a>
        </div>

        <div class="col-md-6">
            <a  target="_blank" href="http://219.239.33.98:8080/yyg/loginController.do?ssoLogin&accessToken={{$user.AccessToken}}">
                <img src="/static/yy/img/job-logo3.png"><br>
                采购
            </a>
        </div>

    </div>
{{end}}
</div>


