{{ $user := .sessionInfo}}
{{ $companyInfo := .companyInfo}}
<div class="cxgb-site-nav site-nav-jia">
    <div class="sitenav-wrap site-nav-bd">
        <ul class="site-nav-fl">

            <li class="sitenav-item sitenav-home">
                <div class="sitenav-item-bd">
                    <a rel="nofollow" href="/published/home"><i class="home"></i>欢迎来到{{$companyInfo.CompanyName}}&nbsp;&nbsp;</a>
                </div>
            </li>
            <li class="sitenav-item sitenav-login">
            {{ $user := .sessionInfo }}

            {{if eq "" $user.UserName }}
                <div class="sitenav-item-bd js_nologin">
                    <a rel="nofollow" target="_blank" href="/hospitallogin?hospitalid={{$companyInfo.Id}}" id="js_login_btn" >登录</a>
                </div>
            {{else}}
                <div class="sitenav-item-bd js_login" style="display:block;">
                    <a rel="nofollow" href="#" target="_blank" class="link-name" id="js_user_name2">{{$user.UserName}}</a>
                </div>
            {{end}}

            </li>
            <li class="sitenav-item sitenav-register">
            {{if eq "" $user.UserName }}

            {{else}}
                <div class="sitenav-item-bd js_login" style="">
                    <a rel="nofollow" href="/hospitallogout?hospitalid={{$companyInfo.Id}}" class="link-loginout" id="js_loginout">安全退出</a>
                </div>
            {{end}}
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{$companyInfo.LogoImage}}" alt="" height="70px"></a>
            <a class="navbar-brand" style="margin-top: 15px;font-size: 26px" href="#">{{$companyInfo.CompanyName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>