
<div class="cxgb-site-nav site-nav-jia">
    <div class="sitenav-wrap site-nav-bd">
        <ul class="site-nav-fl">

            <li class="sitenav-item sitenav-home">
                <div class="sitenav-item-bd">
                    <a rel="nofollow" href="/published/home"><i class="home"></i>欢迎来到医易购</a>
                </div>
            </li>
            <li class="sitenav-item sitenav-login">
                {{ $user := .sessionInfo }}

                {{if eq "" $user.UserName }}
                <div class="sitenav-item-bd js_nologin">
                    <a rel="nofollow" href="javascript:javascript:location.href='/userlogin';" id="js_login_btn" >登录</a>
                </div>
                {{else}}
                <div class="sitenav-item-bd js_login" style="display:block;">
                    <a rel="nofollow" href="#" target="_blank" class="link-name" id="js_user_name2">{{$user.UserName}}</a>
                </div>
                {{end}}

            </li>
            <li class="sitenav-item sitenav-register">
                {{if eq "" $user.UserName }}
                <div class="sitenav-item-bd js_nologin">
                    <a rel="nofollow" href="javascript:location.href='/registry';" id="js_register_btn">注册</a>
                </div>
                {{else}}
                <div class="sitenav-item-bd js_login" style="display:none;">
                    <a rel="nofollow" href="/userlogout" class="link-loginout" id="js_loginout">退出</a>
                </div>
                {{end}}
            </li>
        </ul>
        <ul class="site-nav-fr">
            <li class="sitenav-item sitenav-mycx">
                <div class="sitenav-item-bd">
                    <a href="" target="_blank">我的<i class="arr"></i></a>
                    <div class="sitenav-subcon">
                        <div class="subcon-bd">
                            {{if eq "" $user.UserName }}
                            <div class="js_nologin">
                                <div class="sitenav-userimg">
                                    <img src="" alt="">
                                </div>
                                <div class="sitenav-userinfo">
                                    <p class="userinfo-name"><a href="javascript:;" id="js_login_btn2">亲，请登录</a></p>
                                    <p class="userinfo-item-con">
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                    </p>
                                    <p class="userinfo-item-con">
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                    </p>
                                </div>

                            </div>
                            {{else}}
                            <div class="js_login" style="display:block">
                                <div class="sitenav-userimg">
                                    <img src="" alt="" id="js_user_img">
                                </div>
                                <div class="sitenav-userinfo">
                                    <p class="userinfo-name"><a href="" id="js_user_name" target="_blank">{{$user.UserName}}</a></p>
                                    <p class="userinfo-item-con">
                                        <span class="userinfo-item"><a href="" target="_blank" ><em id="js_user_blance">0</em></a></span>
                                        <!--<span class="userinfo-item">积点<a href="#" target="_blank"><em id="js_user_point">0</em></a></span>-->
                                    </p>
                                    <p class="userinfo-item-con">
                                        <span class="userinfo-item"><a rel="nofollow" href="/logout" target="_blank" >注销</a></span>
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                    </p>
                                    <p class="userinfo-item-con">
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                        <span class="userinfo-item"><a rel="nofollow" href="" target="_blank" ></a></span>
                                    </p>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="sitenav-item sitenav-gz" >
                <div class="sitenav-item-bd">
                    <span>客服二维码<i class="arr"></i></span>
                    <div class="sitenav-subcon">
                        <ul class="subcon-bd">
                            <li>
                                <img src="" alt="">
                                <p class="des">客服二维码</p>
                            </li>
                            <li>
                                <img src="" alt="">
                                <p class="des"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <!--li class="sitenav-item sitenav-app" ca="v160630_cs-home_pc_site-nav_c6d0$我的APP$cxjia">
                <div class="sitenav-item-bd">
                    <span><i class="app"></i>我的APP<i class="arr"></i></span>
                    <div class="sitenav-subcon">
                        <div class="subcon-bd">
                            <img src="//s2.cximg.com/msweb02/resource/comm/images/qr_code/cxjia_dowload_120.jpg?t=1501064351000" alt="车享家APP">
                            <a href="//www.chexiang.com/cxb/gw/pc/index.shtml" target="_blank"><p class="des">车享家APP</p></a>
                        </div>
                    </div>
                </div>
            </li-->
            <li class="sitenav-item sitenav-merchant" >
                <div class="sitenav-item-bd">
                    <span>中心<i class="arr"></i></span>
                    <div class="sitenav-subcon">
                        <div class="subcon-bd">
                            <a rel="nofollow" href="" target="_blank" >合作商登录</a>
                            <a rel="nofollow" href="" target="_blank" ></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!--div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-8">
                <div class="header-half header-call">
                    <p>
                        <span><i class="icon-cloud"></i>021-4854 8817</span>
                        <span><i class="icon-mail"></i>sina@sina.com</span>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-5  col-sm-3 col-sm-offset-1  col-xs-3  col-xs-offset-1">
                <div class="header-half header-social">
                    <div class="button navbar-right">
                        <a class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s" onclick="javascript:location.href='/userlogin'">登录</a>
                        <a class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s" onclick="javascript:location.href='/registry'">注册</a>
                    </div>
                    <ul class="list-inline">

                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-vine"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div-->

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="/static/yy/img/logo.png" alt="医易购" height="70px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="main-nav nav navbar-nav navbar-right">
                {{ $columns := loadColumn }}
                {{ $path := .path }}
                {{ range $k,$v :=  $columns }}
                    <li class="wow fadeInDown" data-wow-delay="0s"><a class="{{ if hasPrefix $path $v.Url }}active{{end}}" href="{{$v.Url}}">{{$v.Name}}</a></li>
                {{end}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>