<div class="slider-area">
    <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">
            <!--div class="item"><img src="/static/yy/img/slider-image-3.jpg" alt="Mirror Edge"></div>
            <div class="item"><img src="/static/yy/img/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="/static/yy/img/slider-image-1.jpg" alt="GTA V"></div-->

            {{ $articles := loadArticlesTop "/published/haha" 0 2 }}
            {{range $k,$v := $articles}}
            <div class="item"><img src="{{$v.FirstImage}}"></div>
            {{end}}
        </div>
    </div>
    <div class="container slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <h2>关注小马购车</h2>
                <p>全国第一家什么的网站</p>
                <!--div class="search-form wow pulse" data-wow-delay="0.8s">
                    <form action="" class=" form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Job Key Word">
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option>Select Your City</option>
                                <option selected>New york, CA</option>
                                <option>New york, CA</option>
                                <option>New york, CA</option>
                                <option>New york, CA</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option>Select Your Category</option>
                                <option selected>Graphic Design</option>
                                <option>Web Design</option>
                                <option>App Design</option>
                            </select>
                        </div>
                        <input type="submit" class="btn" value="Search">


                    </form>
                </div-->
            </div>
        </div>
    </div>
</div>